@model IEnumerable<EntityLayer.Bilet>

@{
    ViewBag.Title = "Biletlerim";
    Layout = "~/Views/Shared/index.cshtml";
}

<h2>Biletlerim</h2>
<table class="table">
    <tr>
        <th colspan="4" style="text-align:center;font-size:30px">BİLETLERİM</th>
    </tr>
    <tr><th>Haraket Yeri</th><th>Varıs Yeri</th><th>Koltuk Numarasi</th><th>Tarih</th><th>Haraket Saati</th><th>Plaka</th><th>İptal</th></tr>
@foreach (var item in Model) {
   <tr>
       <td>@item.sefer.rota.nereden.DurakAdi</td>
       <td>@item.sefer.rota.nereye.DurakAdi</td>
       <td>@item.KoltukNumarasi</td>
       <td>@item.sefer.Tarih</td>
       <td>@item.sefer.Saat</td>
       <td>@item.sefer.otobus.Plaka</td>
       <td>@Html.ActionLink("İptal Et","BiletIptal",new{id=item.BiletId })</td>
   </tr>
}

</table>
