@model EntityLayer.Uye

@{
    ViewBag.Title = "UyeBilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:50px">
    <p>
        Merhaba,
        @Model.UyeAdi @Model.Soyad adlı yolcumuz bu zamana kadar <strong>Toplam:</strong> @Model.Biletler.Count sefer yolculuk yapmıştır. Bu zamana kadar toplamda biletler için <strong>@Model.Biletler.Sum(b => b.Ucret) TL</strong> ödeme yapmıştır.
    </p></div>
<table class="table">
    @foreach (var item in Model.Biletler.Skip(Model.Biletler.Count/10).Take(10)) { 
    <tr>
        <td>
            @item.uye.UyeAdi @item.uye.Soyad
        </td>
        <td>@item.sefer.otobus.Plaka-@item.KoltukNumarasi</td>
        <td>@item.sefer.rota.nereden.DurakAdi - @item.sefer.rota.nereye.DurakAdi</td>
        <td>@item.sefer.Tarih-@item.sefer.Saat</td>
        <td>@item.sefer.rota.Ucret</td>
    </tr>
    }
    <tr>
        <td colspan="5">@for (int i = 1; i <= Model.Biletler.Count/10; i++)
        {
            <button>@i</button>
        }</td>
    </tr>
</table>