@model EntityLayer.Uye

@{
    ViewBag.Title = "UyeKontrol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UyeKontrol</h2>

<div>
    <h4>Uye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yetki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UyeAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UyeAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sehir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sehir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
