@model IEnumerable<EntityLayer.Sefer>

@{
    ViewBag.Title = "Seferler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Seferler</h2>


<table class="table">
    <tr>
        <td colspan="5"> @Html.ActionLink("Yeni Sefer Ekle", "SeferEkle", "Sefer")</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Saat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>Seferi Gerceklercek Arac</th>
        <th>Haraket Yeri</th>
        <th>Varış Yeri</th>
        <th>Yolcu Sayısı</th>
        <th>Net Kazanç</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Saat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tarih)
    </td>
    <td> @Html.ActionLink(item.otobus.Plaka, "OtobusDetay","Otobus", new { id = item.otobus.OtobusId }, new { target = "_blank", name = "link", style = "color : red" })</td>
    <td>
        @Html.DisplayFor(m => item.rota.nereden.ilce.sehir.SehirAdi)
    </td>
    <td>
        @Html.DisplayFor(m => item.rota.nereye.ilce.sehir.SehirAdi)
    </td>
    <td>@item.Biletler.Count(s=>s.UyeId!=null)</td>
    <td>@(item.Biletler.Count(s=>s.UyeId!=null)*item.rota.Ucret)</td>
    <td>
        @Html.ActionLink("SeferSil", "SeferSil", new { id=item.SeferId })
    </td>
 
</tr>
}

</table>
