@model IEnumerable<EntityLayer.KoltukTipi>

@{
    ViewBag.Title = "KoltukTipleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KoltukTipleri</h2>

<p>
    @Html.ActionLink("Yeni Ekle", "Ekle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KoltukTipiAdi)
        </th>
        <th>Kaç Araçta Var?</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KoltukTipiAdi)
        </td>
        <td>@Html.DisplayFor(m=>item.otobusler.Count)</td>
        <td>
           
            @Html.ActionLink("Sil", "Sil", new { id=item.KoltukTipiId })
        </td>
    </tr>
}

</table>
